# Node.js
node_modules/

# MongoDB Docker data
/data-mongo/

# Entornos y variables sensibles
.env

# Archivos de subida
/uploads/

# Archivos temporales y del sistema
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log* 